@import url('../../../../node_modules/material-components-web/dist/material-components-web.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  --mdc-theme-primary: #494949;
  --mdc-theme-secondary: #757575;
  background-color: #e1e1e1;
}
